.VPHome {
  // 定义遮罩样式
  background: rgba(var(--bg-gradient-home), 0.8);

  // 自定义首页背景图
  &::before {
    // 图片来源：https://haowallpaper.com/homeViewLook/17313127924878720
    background-image: url(./assets/bg.png);
    background-size: cover;
  }
}